In [25]:
#Nested loop
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(" *",end='')
    print("")

 *
 * *
 * * *
 * * * *
 * * * * *

In [41]:
for i in range(1,6,1):
    
    for k in range(1,(5-i)+1,1):
        print(" ",end=' ')
        
    for j in range(1,i+1,1):
        print("*",end=' ')
        
    print(" ")

        *
      * *
    * * *
  * * * *
* * * * *

In [53]:
for i in range(1,6,1):
    
    for k in range(1,(5-i)+1,1):
        print("",end='')
        
    for j in range(1,i+1,1):
        print("* ",end=' ')
        
    print("")

    *
   * *
  * * *
 * * * *
* * * * *

In [55]:
for i in range(1,6,1):
    
    for k in range(1,i+1,1):
        print(" ",end='')
        
    for j in range(1,(5-i)+1,1):
        print("*",end=' ')
        
    print("")

 * * * *
  * * *
   * *
    *

In [57]:
for i in range(1,6,1):
    
    for k in range(1,(5-i)+1,1):
        print(" ",end='')
        
    for j in range(1,i+1,1):
        print("*",end=' ')
        
    print("")
    
for i in range(1,6,1):
    
    for k in range(1,i+1,1):
        print(" ",end='')
        
    for j in range(1,(5-i)+1,1):
        print("*",end=' ')
        
    print("")

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [62]:
i=1
while i<5:
    print("\n")
    j=1
    while j<5:
        print(j)
        j=j+1
    i=i+1

1
2
3
4


1
2
3
4


1
2
3
4


1
2
3
4

In [61]:
for i in range(1,4,1):
    print("\n")
    for j in range(1,4,1):
        print(i,j)

1 1
1 2
1 3


2 1
2 2
2 3


3 1
3 2
3 3

In [2]:
count = 1

for i in range(1,6,1):
    
    for j in range(1,i+1,1):
        print(count , end='')
        count=count+1
    print(" ")

1
23
456
78910
1112131415

In [10]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        if i%2==0:
            print("* ",end='')
        else:
            print("0 ",end='')
    print(" ")

0
* *
0 0 0
* * * *
0 0 0 0 0

In [22]:
for i in range(1,6,1):
    
    for k in range(1,i+1,1):
        print("",end='')
        
    for j in range(1,(5-i)+1,1):
        print("* ",end=' ')
        
    print(" ")

*  *  *  *
*  *  *
*  *
*

In [23]:
for i in range(1,6,1):
    
    for k in range(1,i+1,1):
        print(" ",end=' ')
        
    for j in range(1,(5-i)+1,1):
        print("*",end=' ')
        
    print(" ")

  * * * *
    * * *
      * *
        *

In [12]:
for i in range(1,5):
    
    for k in range(1,5-i):
        print(" " ,end='')
    
    for p in range(1,i+1):
        print(p ,end=' ')
        
    for j in range(1,i):
        print(i-j,end=' ')
        
    print(" ")

   1
  1 2 1
 1 2 3 2 1
1 2 3 4 3 2 1

In [34]:
rows = 4

for i in range(1, 6 1):
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end="")
        else:
            print(j, end="")

    print()

     1
    21
   321
  4321
 54321

In [42]:

for i in range(1, 6):
    for j in range(6 - i):
        print("", end="")
    for k in range(1, i + 1):
        print(i, end="")
    print()
for i in range(1, 6, 1):
    for j in range(6, 0, -1):
        if j > i:
            print(" ", end="")
        else:
            print(j, end="")

    print()

1
22
333
4444
55555
     1
    21
   321
  4321
 54321